﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css/chatcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@RenderBody()
@RenderSection("SPAViews", required: false)

@Scripts.Render("~/bundles/jquery")
<script src="signalr/hubs"></script>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/chat")
@RenderSection("Scripts", required: false)

</body>
</html>
