﻿body {
    font-family: 'Open Sans', sans-serif;
}

/* Custom animations */
@-moz-keyframes WiggleAnimation {
    5% {
        left: 5px;
    }
    25% {
        left: -5px;
    }
    50% {
        left: 5px;
    }
    75% {
        left: -5px;
    }
    100% {
        left: 0;
    }
}

@keyframes WiggleAnimation {
    5% {
        left: 5px;
    }
    25% {
        left: -5px;
    }
    50% {
        left: 5px;
    }
    75% {
        left: -5px;
    }
    100% {
        left: 0;
    }
}

.container {
    background-color: #f7f5f5;
    padding: 20px;
    max-width: 100%;
    color: #294037;
}

.container-full {
    margin: 0;
    width: 100%;
    padding: 0;
    height: calc(100vh - 70px);
}
.full-size-panel {
    width: 100%;
    height: 100%;
    background-color: #76b99f;
    color: #f7f5f5;
    position: absolute;
    z-index: 998;
}

.loader-full-size-panel {
    width: 100%;
    height: 100%;
    background-color: #76b99f;
    color: #f7f5f5;
    position: absolute;
    z-index: 999;
}
.loader-full-size-panel .text-with-spinner {
    position: relative;
    top: 35vh;
}
.loader-full-size-panel .text-with-spinner h1 {
    margin: 0 auto;
    text-align: center;
}

.username-form {
    width: 480px;
    background-color: #f7f5f5;
    padding: 20px;
    -webkit-box-shadow: 0px 6px 15px 1px rgba(92,92,92,1);
    -moz-box-shadow: 0px 6px 15px 1px rgba(92,92,92,1);
    box-shadow: 0px 6px 15px 1px rgba(92,92,92,1);
    margin: 0 auto;
    position: relative;
    top: 30vh;
}
.animate-wiggle {
    -moz-animation: WiggleAnimation 0.4s ease-in-out;
    -o-animation: WiggleAnimation 0.4s ease-in-out;
    -webkit-animation: WiggleAnimation 0.4s ease-in-out;
    animation: WiggleAnimation 0.4s ease-in-out;
}
.failed-validation {
    box-shadow: 0px 6px 15px 1px rgb(255, 71, 71);
}

.username-form h1 {
    color: grey;
    text-align: center;
    margin-top: 0;
}
.username-form .image {
    margin-right: 5px;
    margin: 0 auto;
}
.username-form img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
}
.username-form .input-group-lg button {
    margin-top: 10px;
}

.main-area {
    float: left;
    width: 100%;
    height: 100%;
}

.discussion {
    padding: 10px;
    width: 80%;
    margin: 0;
    overflow-y: scroll;
    float: left;
    clear: both;
    height: 100%;
}

.discussion :after {
    clear: both;
}
.discussion .message {
    border-bottom: 1px #5d917d solid;
    border-bottom: 1px rgba(93, 145, 125, 0.40) solid;
}
.discussion .message .time {
    float: right;
}
.discussion .message:not(:first-child) {
    padding-top: 10px;
}
.discussion .message .message-content {
    min-height: 60px;
    vertical-align: top;
}
.discussion .message .message-content .message-text {
    word-wrap: normal;
}

.discussion .message .message-content .message-content {
    vertical-align: top;    
}
.discussion .message .image {
    margin-right: 5px;
    float: left;
}
.discussion .message .image img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
}
.users {
    width: 20%;
    padding: 0;
    height: 100%;
    margin: 0;
    float: left;
    overflow-y: scroll;
    background-color: #76b99f;
}

.users .users-header {
    background-color: #294037;
    color: #f7f5f5;
    padding: 5px 10px 5px 10px;
    font-size: 1.5em;
}

.users :after {
    clear: both;
}

.users ul {
    padding-left: 10px;
}

.users li {
    list-style: none;
    color: #f7f5f5;
    font-size: 2em;
}
.panel-footer {
    background-color: #E6D4A7;
    border: none;
    clear: both;
    float: left;
    height: 70px;
}

.panel-footer .input-group > input[type="text"] {
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px #76b99f solid;
    color: black;
    padding: 10px;
}

.panel-footer .input-group textarea {
    resize: none;
    border-radius: 5px;
}

.panel-footer .input-group > input[type="text"]:focus,
.panel-footer .input-group > input[type="text"]:hover {
    border-bottom: 2px #5D917D solid;
    -webkit-transition: ease-in-out 200ms;
    -moz-transition: ease-in-out 200ms;
    -o-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
}

.panel-footer .input-group button {
    vertical-align: bottom;
    background-color: #76b99f;
    height: 100%;
}

.panel-footer .input-group button:hover {
    background-color: #5D917D;
    -webkit-transition: ease-in-out 200ms;
    -moz-transition: ease-in-out 200ms;
    -o-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
}

.panel-footer .input-group .send-message-btn {
    color: #f7f5f5;
    background-color: #76b99f;
}

.panel-footer .input-group .send-message-btn:hover {
    background-color: #5D917D;
    -webkit-transition: ease-in-out 200ms;
    -moz-transition: ease-in-out 200ms;
    -o-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
}

.flat {
    border-radius: 0;
    border: 0;
}
/*.input-group .input-group-btn button {
    background-color: black;
}*/

.input-group .form-control > input[type="text"] {
    background-color: black;
}

.discussion li {
    list-style: none;
}
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: relative;
}
.spinner > div {
  background-color: #f7f5f5;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}