﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

@section SPAViews {
    <script type="text/html" id="MessageTemplate">
        @Html.Partial("~/Views/Chat/MessageTemplate.cshtml")
    </script>
    <script type="text/html" id="UsersTemplate">
        @Html.Partial("~/Views/Chat/UsersTemplate.cshtml")
    </script>
}

<!-- ko with: MainVm -->

<!-- ko with: ConnectedUserViewModel-->
<div class="full-size-panel" data-bind="visible: !LogedIn()">
    <div class="username-form" id="username-form-main">
        <h1>Hello! Enter your name</h1>
        <span class="input-group-lg">
            <input type="text" placeholder="Username" class="form-control" data-bind="value: WrapedUserName"/>
            <button class="form-control btn btn-primary" data-bind="click: TryLogin">Login</button>
        </span>
    </div>
</div>

<div class="loader-full-size-panel" data-bind="visible: LoadingLogin">
    <div class="text-with-spinner">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <h1>Loading...</h1>
    </div>
</div>
<!-- /ko -->

<div class="container container-full">
        <div class="main-area">
            <div class="discussion">
                <!-- ko template: { name: 'MessageTemplate',  foreach: Messages } --><!-- /ko -->
            </div>

            <div class="users">
                <div class="users-header">
                    Users online:
                </div>
                <!-- ko template: { name: 'UsersTemplate', data: UsersVm } --><!-- /ko -->
            </div>
        </div>
    </div>

    <!-- ko with: InputVm-->
    <footer class="panel-footer">
        <div class="input-group">
            <textarea class="form-control input-sm flat" data-bind="value: CurrentMessage"></textarea>
            <span class="input-group-addon btn btn-success flat send-message-btn" data-bind="click: SendMessage" id="sendmessage">
                Send
            </span>
        </div>
    </footer>
    <!-- /ko -->

<!-- /ko -->