﻿<div class="message">
    <span class="image">
        <img src="../Content/img/avatar.png" width="50" height="50" />
    </span>
    <div class="message-content">
        <span class="message-username"><b><i data-bind="text: Username"></i></b></span>
        <span class="message-text" data-bind="text: MessageText"></span>
    </div>
    <div class="time">
        <span class="glyphicon glyphicon-time"></span>
        <span data-bind="text: Timestamp"></span>
    </div>
</div>